
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: rgb(88,93,95);
}

form { 
	background-color: rgb(77,77,77) 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
}

input { 
	color: rgb(200,200,200);
	border: 0; 
	padding: 12px; 
	font-size: 14px;
    background-color: rgb(115,115,115);
}

input[id="message"]{
    position: fixed;
    left:0;
    bottom: 0;
    width: 80%; 
	margin-left: 220px;
	margin-bottom: 25px;
	border: none;
}

input::placeholder {
    color: white;
}

button { 
	background: rgb(129, 104,161);
	border: none; 
	padding: 12px; 
	color: rgb(158,238,250);
	font-size: 14px;
	cursor: pointer;
        margin-bottom: 25px;
}

button#send{
    width: 7%; 
    position: fixed;
    right: 0;
    bottom: 0;
}

button#invite, button#chat{
    width: 100px;
    margin-top: 10px;
    margin-left: 50px;
}

.chatmessage {
    width: 95%;
    margin-left: 2%;
    background-color: deepskyblue;
    border-radius: 10px;
}

.message-container {
    position: fixed;
    width: 88%;
    height: 90%;
    left: 220px;
    background-color: aliceblue;
    border-radius: 10px;
}

.sidenav{
	height: 50%;
	width: 200px;
	position: fixed;
	top:0;
	background-color: rgb(49,52,53);
	color: #fff;
}

.hmbtn{
	background: url(../styles/smallLogo.png) no-repeat center;
	border: none;
	width: 50px;
	height: 50px;
	margin-left: 8px;
	margin-top: 3px;
	cursor: pointer;
}

.addbtn{
	background: url(../styles/plussymbolsmall.png) no-repeat center;
	border: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.friendslist{
	height: 50%;
	width: 200px;
	position: fixed;
	top: 50%;
	left: 0;
	background-color: rgb(49,52,53);
	color: #fff;
}

