body{
	margin-left: 150px;
	padding: 0;
	margin-top: 100px;
	margin-bottom: 10px;
	background-color: gray;
	font-family: sans-serif;
	font: 16px, white;
	font-size: 20px;
}

input[type=text]{
	border:2px solid grey;
	border-radius: 10px;
}

button{

	background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}


h1{

	color:blue;

}


.error{
	color:red;
	font-size:40px;
}

.button{
	margin-left:300px;
	border-radius: 10px;
	border: 2px solid ;
}



.Success{
	color:blue;
}

.username{

	font-size: 20px;

}

.bar{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.name{
	margin-top:20px;
	margin-left: 70px;
	border:auto;
	border-right: 20px red;
	border-left: 5px red;
	background-color:

}

.email{

	font-size: 20px;

}

.gender{
	
	margin-left: 70px;
	border:auto;
	border-right: 20px red;
	border-left: 5px red;
	position: relative;

}

.age{
	
	margin-left: 70px;
	border:auto;
	border-right: 20px red;
	border-left: 5px red;
}

.birthday{
	
	margin-left: 70px;
	border:auto;
	border-right: 20px red;
	border-left: 5px red;
	background-color:
}
.button{
	padding: 20px;
	border-radius: 30%;
	border:none;
	color:black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

select{
	border-radius: 10px;
	color:black;
	background-color: lightgray;
}
