<!DOCTYPE html>
<html>
<head>
	<title>about page</title>
	<link rel="stylesheet" type="text/css" href="team-dijkstra/assets/view/about_looks.css">
</head>
<body>
	<h1>About our website</h1>

	<div class="about">
			<p>Out chat room website has been made to allow you to keep in touch with your friends, family, and colleague's.  We are a small group of college students that have worked hard to give you an environment that you will be able to use at your leisure.  We hope that you enjoy your website!
			</p>

	</div>
	
	<img src="text-emoji.png">

	<br>
	
	<img src="phone.png">

	<br>

	<img src="laugh.png">
</body>
</html>
