<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<link rel="stylesheet" type="text/css" href="team-dijkstra/assets/view/about_looks.css">
</head>
<body>
	<h1>About our website</h1>

	<div class="about">
			<p>Out chat room website has been made to allow you to keep in 
			touch with your friends, family, and colleague's.  
			We are a small group of college students that have worked hard to give you an environment 
			that you will be able to use at your leisure.  We hope that you enjoy our website!
			</p>

	</div>
	
	<img src="../styles/text-emoji.png">

	<br>
	
	<img src="../styles/phone.png">

	<br>

	<img src="../styles/laugh.png">
</body>
</html>
