<!doctype html>
<html>
    <head>
        <title>Socket.IO chat</title>
        <link rel="stylesheet" type="text/css" href="../styles/chatstyles.css">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function Confirm(title, msg, $true, $false, $name, $id, $option) { 
        var $content =  "<div class='dialog-ovelay'>" +
                        "<div class='dialog'><header>" +
                         " <h3> " + title + " </h3> " +
                         "<i class='fa fa-close'></i>" +
                     "</header>" +
                     "<div class='dialog-msg'>" +
                         " <p> " + msg + " </p> " +
                     "</div>" +
                     "<footer>" +
                         "<div class='controls'>" +
                             " <button class='button button-danger doAction'>" + $true + "</button> " +
                             " <button class='button button-default cancelAction'>" + $false + "</button> " +
                         "</div>" +
                     "</footer>" +
                  "</div>" +
                "</div>";
         $('body').prepend($content);
      $('.doAction').click(function () {
        $(this).parents('.dialog-ovelay').fadeOut(500, function () {
          $(this).remove();
        });
        if($option) {
            confirmFriend($name, $id);
        } else {
            confirmRoomInvite($name, $id);
        }
      });
      $('.cancelAction, .fa-close').click(function () {
        $(this).parents('.dialog-ovelay').fadeOut(500, function () {
          $(this).remove();
        });
      });
      
   }
    </script>
    <body>
	
    <p id="demo"></p>
        
    <div class="sidenav">
        <div id="username"></div>
        <input class="hmbtn" type="button" name="" value="">
        <h1>Chats
        </h1>
        <input id = "room" type = "text" value = "" placeholder = "Chat Room Name">
	    <button id="chat" type = "button" name = "roombutton" onclick = "joinRoom()">
		  Connect to Room
	    </button>
            <input id = "inviteuser" type = "text" value = "" placeholder = "user id">
	    <button class="sidebutton" id="invite" type = "button" name = "button" onclick = "inviteUser()">
		  Invite User
	    </button>
	    <div class="chatroomlist" id="chatroomlist">
		
	    </div>
        <div id="roomname"></div>
    </div>
    <div class="friendslist">
        <h1>Friends</h1>
	    <input id="friendName" type="text" value="" placeholder="friend's Id">
	    <button id="addfriend" type = "button" name = "button" onclick = "addFriend()">
		  Add friend
	    </button>
	    <div class="friendslistitems" id="friendslistitems">
	    
	    </div>
        <div id="invited"></div>
    </div>

    
    <input id = "message" type = "text" value = "" placeholder = "Type to chat">
    <button id = "send" type = "button" name = "button" onclick = "sendMessage()">
        Send
    </button>

    <div class="message-container" id = 'message-container'>

    </div>
  
    <div class="pmcontainer" id="pmcontainer">
        <input type="button" id="closepm" value="X" onclick="hidePM()">
        <div class="pm-messages" id="pm-messages">
            
        </div>
        <input id = "messagepm" type = "text" value = "" placeholder = "Type to chat">
        <button id = "sendpm" type = "button" name = "button">
            Send
        </button>
    </div>
        
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
	<!-- gets the text within the text input box and passes it to the server -->
    function hidePM() {
        document.getElementById("pmcontainer").style.visibility = "hidden";
    }
	function addFriend() {
        var friend = document.getElementById('friendName').value;
       		if(friend != ""){
			socket.emit('addfriend', friend);

      		}
	}
    function sendPM(id) {
        var msg = document.getElementById('messagepm').value;
        document.getElementById('messagepm').value = "";
        console.log("sending message");
        if(msg){
           console.log("Emitting message");
	       socket.emit('privatemessage', { message: msg }, id);
        }
    }
    function sendMessage() {
            var msg = document.getElementById('message').value;
            document.getElementById('message').value = "";
            if(msg){
	           socket.emit('msg', { message: msg });
            }
        }
	function joinRoom() {
		var room = document.getElementById('room').value;
		if(room){
			socket.emit('join', room);
		}
	}
	function inviteUser() {
		var userid = document.getElementById('inviteuser').value;
		if(userid){
			socket.emit('inviteuser', userid);
		}
	}
	function switchRoom(index) {
        var allButtons = document.getElementsByClassName("chatButtonActive");
        for(i = 0; i < allButtons.length; i++) {
            allButtons[i].style.background = "rgb(129, 104,161)";
        }
        var buttonClick = document.getElementById(index);
        buttonClick.style.background = "rgb(115,115,115)";
		document.getElementById('message-container').innerHTML = '';
		console.log("Switching to room index " + index);
		socket.emit('switch', index);
	}
	function openPM(id) {
		document.getElementById("sendpm").setAttribute("onclick", "sendPM(" + id + ")");
        document.getElementById("pmcontainer").style.visibility = "visible";
	}
	<!-- recieves text from the server and writes it to the page -->
	socket.on('username', function(data, name){
		socket.username = data;
        socket.name = name;
		document.getElementById("username").innerHTML = data;
	});
   	socket.on('newmsg', function(data) {
		console.log("The message user name is" + data.username);
		console.log("The socket username is " + socket.username);
		console.log("These values should match the data username of " + data.username + data.userid);
		if(socket.username == data.username + data.userid) {
			console.log("Making the message personal");
			document.getElementById('message-container').innerHTML += '<br><div class="chatmessage" id="personal"><strong>' + data.username + "</strong><br>" + data.message + "<br>" + data.date + '</div>';
		} else {
			console.log("Making the message not personal");
			document.getElementById('message-container').innerHTML += '<br><div class="chatmessage"><strong>' + data.username + "</strong><br>" + data.message + "<br>" + data.date + '</div>';
		}
    	});
	socket.on('chatroomlist', function(roomlist) {
		socket.roomlist = roomlist;
		for(var i = 0; i < roomlist.length; i++){
			document.getElementById('chatroomlist').innerHTML += '<div class="chatroombutton"><button class="chatButtonActive" type="button" name="button" id=' + i + ' onclick = "switchRoom(' + i + ')">' + roomlist[i] + '</button></div>';
		}
	});
	socket.on('allchatmessages', function(data) {
		for(var i = 0; i < data.length; i++) {
			if(socket.username == data[i].userName + data[i].accountNumber) {
				document.getElementById('message-container').innerHTML += '<br><div class="chatmessage" id="personal"><strong>' + data[i].userName + "</strong><br>" + data[i].chatmessage + "<br>" + data[i].messagetime + "</div>";
			} else {
				document.getElementById('message-container').innerHTML += '<br><div class="chatmessage"><strong>' + data[i].userName + "</strong><br>" + data[i].chatmessage + "<br>" + data[i].messagetime + "</div>";
			}
		}
	});
	socket.on('joinedroomNEW', function(roomname, roomid) {
		    if(socket.roomlist) {
                 console.log("The user has chatrooms");
                 console.log("Pushing to list " + roomname + "#" + roomid);
			     socket.roomlist.push(roomname + "#" + roomid);
			     console.log("The socket roomlist length is " + socket.roomlist.length);
                 console.log("The roomid that will be used is " + (socket.roomlist.length - 1));
			     document.getElementById('chatroomlist').innerHTML += '<div class="chatroombutton"><button class="chatButtonActive" type="button" name="button" id=' + (socket.roomlist.length -1) + ' onclick = "switchRoom(' + (socket.roomlist.length -1) + ')">' + socket.roomlist[(socket.roomlist.length-1)] + '</button></div>';
            } else {
			     console.log("The user has no chatrooms");
			     var roomlist = [roomname + "#" + roomid];
			     socket.roomlist = roomlist;
			     document.getElementById('chatroomlist').innerHTML += '<div class="chatroombutton"><button class="chatButtonActive" type="button" name="button" id=' + 0 + ' onclick = "switchRoom(' + 0 + ')">' + roomlist[0] + '</button></div>';
		    }
	});
	socket.on('friendinvite', function(username, id) {
        Confirm("Friend Invite", "You have recieved a friend invite from " + username + " would you like to accept?", "Yes", "No", username, id, true);
	});
    function confirmFriend(username, id) {
        
        document.getElementById('friendslistitems').innerHTML += '<div class="friendbutton"><button type="button" name="button" onclick = "openPM(' + id + ')">' + username + '</button></div>';
    }
	socket.on('inviteduser', function(roomname, roomid) {
		console.log("Attempting to join room" + roomname + " " + roomid);
        Confirm("Friend Invite", "You have room invitation to " + roomname + " would you like to accept?", "Yes", "No", roomname, roomid, false);
	});
        function confirmRoomInvite(roomname, roomid) {
            console.log("The room id is " + roomid);
            if(socket.roomlist) {
                 console.log("The user has chatrooms");
			     socket.roomlist.push(roomname + "#" + roomid);
			     console.log("The socket roomlist length is " + socket.roomlist.length);
                 console.log("The roomid that will be used is " + (socket.roomlist.length - 1));
			     document.getElementById('chatroomlist').innerHTML += '<div class="chatroombutton"><button class="chatButtonActive" type="button" name="button" id=' + (socket.roomlist.length -1) + ' onclick = "switchRoom(' + (socket.roomlist.length -1) + ')">' + socket.roomlist[(socket.roomlist.length-1)] + '</button></div>';
            } else {
			     console.log("The user has no chatrooms");
			     var roomlist = [roomname + "#" + roomid];
			     socket.roomlist = roomlist;
			     document.getElementById('chatroomlist').innerHTML += '<div class="chatroombutton"><button class="chatButtonActive" type="button" name="button" id=' + 0 + ' onclick = "switchRoom(' + 0 + ')">' + roomlist[0] + '</button></div>';
		    }
	        socket.emit('acceptinvite', roomname, roomid);
        }
    	socket.on('newprivatemessage', function(data, id) {
        	console.log("Message recieved");
        	document.getElementById("sendpm").setAttribute("onclick", "sendPM(" + id + ")");
        	document.getElementById("pmcontainer").style.visibility = "visible";
            console.log("Recieving message inside pm");
            console.log("data username is " + data.username);
            console.log("Socket username is " + socket.username);
            if(data.username == socket.name) {
                console.log("The message is personal");
                document.getElementById('pm-messages').innerHTML += '<br><div class="chatmessage" id="personal"><strong>' + data.username + "</strong><br>" + data.message + "<br>" + data.date + '</div>';
            } else {
        	   document.getElementById('pm-messages').innerHTML += '<br><div class="chatmessage"><strong>' + data.username + "</strong><br>" + data.message + "<br>" + data.date + '</div>';
            }
            
    	});
        
        
    </script>
</html>
