<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Place_Holder Chatroom</title>
		<link rel="stylesheet" type="text/css" href="../styles/chatstyles.css">
	</head>

	<body>
		<div class="navbar">

		</div>
		<ul id = "messages"></ul>
		<form action="">
			<input id ="m" autocomplete="off"/><button>Send</button>
		</form>
		<div class ="sidenav">
			<input class="hmbtn" type="button" name="" value="">
			<h1>Chats
				<input class="addbtn" type="button" name="" value="">
			</h1>

		</div>
        <div class ="friendslist">
        	<h1>Friends
        		<input class="addbtn" type="button" name="" value="">
        	</h1>
        </div>

	</body>

</html>