<!DOCTYPE html>
<html lang="en-US">
    <body>
        <div id="header">
            <header>COSC340 CHAT ROOM</header>
        </div>
        <div id="body">
            <div class="SimpleForm">
                <form method="post">
                    <textarea name="Blogtxt"  class="BlogText"></textarea>
                    <div class="textnexttobutton">
                        
                    </div><input class="blogbutton" type="submit" value="submit">
                </form>
            </div>
        </div>
    </body>
</html>

<!--
<i></i>
<em></em>
<small></small>
<mark></mark>
<del></del>
<ins></ins>
<sub></sub>
<sup></sup>
<iframe></iframe>
-->
