<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Place_Holder Chatroom</title>
		<link rel="stylesheet" type="text/css" href="/styles/simplestyles.css">
	</head>

	<body>
		<div class="login-box">
			<h1>Welcome to Place_Holder!</h1>
			<div class="textbox">
				<input type="text" placeholder="Username" name="" value="">
			</div>

			<div class="textbox">
				<input type="password" placeholder="Password" name="" value="">
			</div>

		<div class ="loginbtn">
			<input class="btn" type="button" name="" value="Log In">
		</div>

		<input class="signup" type="button" name="" value="Don't have a log in? Sign up!">



	</body>
   
</html>

<!--
<i></i>
<em></em>
<small></small>
<mark></mark>
<del></del>
<ins></ins>
<sub></sub>
<sup></sup>
<iframe></iframe>
-->
