<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
<link rel="stylesheet" type="text/css" href="CSS/settings profileLooks.css">
	
</head>
<body>

	<div class="opener">
		<p>My Profile</p>
	</div>

	<div class="names">
		Name: Display Name
		<br>
		<br>
		Email: Display Email
		<br>
		<br> 
		Username: Display Username
 	</div>
	
	<div class="changes">
		<input type="submit" name="submit" value="Change Name">
		<input type="submit" name="submit" value="Change Email">
		<input type="submit" name="submit" value="Change Password">
		<input type="submit" name="submit" value="Change Username">
	
	</div>
	<div class="Logout">
		<button class="logout">Logout</button>
	</div>

</body>
</html>
